.resultValueWrapper{
   border-bottom: 1px solid #EAEAEA;
  margin-bottom: 45px;
}

.resultValue {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;


  color: #363636;
}